<nav class="navbar">
  <ul class="list">
    <li class="item">
      <a routerLink="/client/adresses-livraison/adresses">Adresses</a>
    </li>
    <li class="item">
      <a routerLink="/client/adresses-livraison/formulaire-ajout">Ajouter une Adresse</a>
    </li>
    <li class="item">
      <a routerLink="/client/client-info">Informations du Client</a>
    </li>
    <li class="item">
      <a routerLink="client/liste-commandes">Commandes</a>
    </li>
    <li class="item">
      <a routerLink="/produits/liste-produits">Produits</a>
    </li>
    <li class="item">
      <a routerLink="/produits/commande-produits">Commandes de Produits</a>
    </li>
  </ul>
</nav>